<div class="flex flex-col" hx-target="this" hx-swap="outerHTML">
  <label for="" class="mb-1 text-xs sm:text-sm tracking-wide text-gray-600">:</label>
  <div class="relative">
    <textarea
      hx-post="/"
      hx-vals='{"csrfmiddlewaretoken": ""}'
      hx-indicator="#ind_"
      id=""
      name=""
      placeholder=""
      class="text-sm sm:text-base relative w-full border border-gray-300 border-red-500focus:border-teal-500 rounded placeholder-gray-400 focus:outline-none py-2 px-4"
    ></textarea>

    <input
      x-data
      hx-post="/"
      hx-vals='{"csrfmiddlewaretoken": ""}'
      hx-indicator="#ind_"
      data-fragment-request="true"
      id=""
      name=""
      type=""
      placeholder=""
      class="text-sm sm:text-base relative w-full border border-gray-300 border-red-500focus:border-teal-500 rounded placeholder-gray-400 focus:outline-none py-2 px-4"
      value=""
    />

    <i id="ind_" class="absolute fas fa-spinner fa-spin absolute top-1/3 right-3 htmx-indicator"></i>

    <i id="check_" class="fas fa-check absolute top-1/2 right-3 transform -translate-y-1/2 text-green-500"></i>
  </div>

  <span class="text-green-500 text-xs mt-1"></span>

  <span class="text-red-500 text-xs mt-1"> </span>
</div>
