<!-- Login/User button -->
<div class="md:ml-0 ml-auto" id="user-status" hx-swap-oob="#user-status">
  <span class="px-3 py-1 text-gray-800 text-opacity-75 font-bold"> Hello, ! </span>
  <a
    href=""
    hx-swap="show:none"
    @click="menuOpen = false"
    class="ml-2 border-[1px] border-gray-400 border-opacity-40 px-3 py-1 bg-[#a8c3c7] bg-opacity-20 hover:bg-opacity-70 text-gray-800 text-opacity-75 font-bold rounded"
  >
  </a>

  <a
    href="?next="
    hx-swap="show:none"
    @click="menuOpen = false"
    class="border-[1px] border-gray-400 border-opacity-40 px-3 py-1 bg-[#a8c3c7] bg-opacity-20 hover:bg-opacity-70 text-gray-800 text-opacity-75 font-bold rounded"
  >
  </a>
</div>
