Django
djangorestframework
django-cors-headers
django-debug-toolbar
django-celery-results
django-redis
psycopg
gunicorn
celery
redis[hiredis]
python-dotenv
whitenoise
confluent-kafka
retrying
requests
bleach
elasticsearch-dsl>=8.0.0,<9.0.0

