{% load i18n %}
{% load static %}
{% for field in form %}
  <div class="flex flex-col" hx-target="this" hx-swap="outerHTML">
    <label for="{{ field.name }}"
           class="mb-1 text-xs sm:text-sm tracking-wide text-gray-600">{{ field.label }}:</label>
    <div class="relative">
      {% if field.name == 'bio' %}
        <textarea {% if field.name in validation_check %} hx-post="{{ action_url }}{{ field.name }}/" hx-vals='{"csrfmiddlewaretoken": "{{ csrf_token }}"}' hx-indicator="#ind_{{ field.name }}" {% endif %}
                  id="{{ field.name }}"
                  name="{{ field.name }}"
                  placeholder="{{ field.label }}"
                  class="text-sm sm:text-base relative w-full border border-gray-300 {% if field.errors %}border-red-500{% else %}focus:border-teal-500{% endif %} rounded placeholder-gray-400 focus:outline-none py-2 px-4">{{ field.value|default_if_none:'' }}</textarea>
      {% else %}
        <input {% if field.name in validation_check %}x-data hx-post="{{ action_url }}{{ field.name }}/" hx-vals='{"csrfmiddlewaretoken": "{{ csrf_token }}"}' hx-indicator="#ind_{{ field.name }}" data-fragment-request="true" {% endif %}
               id="{{ field.name }}"
               name="{{ field.name }}"
               type="{{ field.field.widget.input_type }}"
               placeholder="{{ field.label }}"
               class="text-sm sm:text-base relative w-full border border-gray-300 {% if field.errors %}border-red-500{% else %}focus:border-teal-500{% endif %} rounded placeholder-gray-400 focus:outline-none py-2 px-4"
               value="{{ field.value|default:'' }}" />
      {% endif %}
      {% if field.name in validation_check %}
        <i id="ind_{{ field.name }}"
           class="absolute fas fa-spinner fa-spin absolute top-1/3 right-3 htmx-indicator"></i>
      {% endif %}
      {% if field.name == 'username' and show_success_message %}
        <i id="check_{{ field.name }}"
           class="fas fa-check absolute top-1/2 right-3 transform -translate-y-1/2 text-green-500"></i>
      {% endif %}
    </div>
    {% if field.name == 'username' and show_success_message %}
      <span class="text-green-500 text-xs mt-1">{% trans "Nice! Username is available." %}</span>
    {% endif %}
    {% if field.errors %}
      <span class="text-red-500 text-xs mt-1">
        {% for error in field.errors %}{{ error|escape }}{% endfor %}
      </span>
    {% endif %}
  </div>
{% endfor %}
