<section data-new-title="test title" id="projects" class="bg-white/70" data-update-status="true">
  <div class="container max-w-screen-lg mx-auto py-10 min-h-[86.4vh]">
    <div class="mx-auto max-w-screen-sm text-center lg:mb-16 mb-8">
      <h2 class="mb-4 text-3xl lg:text-4xl tracking-tight font-extrabold text-gray-900">About</h2>
      <p class="font-light text-gray-500 sm:text-xl px-1">
        Consectetur veniam commodo qui nisi dolore id. Deserunt anim incididunt ut ad labore ullamco eu anim sit irure dolor sunt.
        Nostrud eiusmod do eiusmod cupidatat qui commodo ex et aliqua sit elit tempor. Elit elit in fugiat magna excepteur
        reprehenderit nulla enim ut duis labore eiusmod consectetur sint. Eu ullamco cillum fugiat est deserunt irure dolore eu
        proident ea in eiusmod tempor. Est incididunt fugiat aute mollit ad ipsum anim aute mollit amet cupidatat.
      </p>
    </div>
  </div>
</section>
