<section class="flex-1 bg-white/60">
  <div class="container max-w-screen-sm mx-auto py-10 flex-1 px-2">
    <h2 class="text-center text-3xl font-semibold mb-6">Create Your Blog Post</h2>
    <form method="post" action="/blogs/create/">
      <div class="flex flex-col mb-4">
        <label for="title" class="mb-1 text-xs sm:text-sm tracking-wide text-gray-600">Title:</label>
        <div class="relative">
          <input
            id="title"
            name="title"
            type="text"
            placeholder="Title"
            class="text-sm sm:text-base relative w-full border border-gray-300 focus:border-teal-500 rounded placeholder-gray-400 focus:outline-none py-2 px-4"
            value=""
            spellcheck="false"
            data-ms-editor="true"
          />
        </div>
      </div>

      <div class="flex flex-col mb-4">
        <label for="content" class="mb-1 text-xs sm:text-sm tracking-wide text-gray-600">Content:</label>
        <div x-data="editor()">
          <template x-if="isLoaded()">
            <div class="mb-1 text-gray-600 flex items-center justify-items-start" x-data="{ open: false }">
              <button type="button" class="hover:bg-gray-300 px-3 py-1 rounded" @click="undo()" title="Undo">
                <i class="fas fa-undo-alt"></i>
              </button>
              <button type="button" class="hover:bg-gray-300 px-3 py-1 rounded" @click="redo()" title="Redo">
                <i class="fas fa-redo-alt"></i>
              </button>

              <div class="border-r border-gray-400 py-1 mx-2 h-6 inline-block"></div>

              <button
                x-ref="headingDropdown"
                @click.away="open = false"
                type="button"
                class="hover:bg-gray-300 px-3 py-1 rounded"
                @click="open = ! open"
                :class="{ 'bg-gray-300': isActive('heading', { level: 1 }, updatedAt) }"
                title="Toggle headings"
              >
                <i class="fas fa-heading"></i><i class="fas fa-angle-down fa-xs ml-2"></i>
              </button>

              <ul
                class="z-50 bg-white shadow-md rounded-md border border-gray-400 p-1"
                x-show="open"
                @click="open = false"
                x-anchor="$refs.headingDropdown"
                x-transition:enter="transition ease-out duration-200"
                x-transition:enter-start="transform opacity-0 scale-95"
                x-transition:enter-end="transform opacity-100 scale-100"
                x-transition:leave="transition ease-in duration-200"
                x-transition:leave-start="transform opacity-100 scale-100"
                x-transition:leave-end="transform opacity-0 scale-95"
              >
                <li
                  class="h1-ref p-1 cursor-pointer hover:bg-gray-200"
                  @click="toggleHeading({ level: 1 })"
                  :class="{ 'bg-gray-300' : isActive('heading', { level: 1 }, updatedAt) }"
                >
                  Heading 1
                </li>
                <li
                  class="h2-ref p-1 cursor-pointer hover:bg-gray-200"
                  @click="toggleHeading({ level: 2 })"
                  :class="{ 'bg-gray-300' : isActive('heading', { level: 2 }, updatedAt) }"
                >
                  Heading 2
                </li>
                <li
                  class="h3-ref p-1 cursor-pointer hover:bg-gray-200"
                  @click="toggleHeading({ level: 3 })"
                  :class="{ 'bg-gray-300' : isActive('heading', { level: 3 }, updatedAt) }"
                >
                  Heading 3
                </li>
                <li
                  class="h4-ref p-1 cursor-pointer hover:bg-gray-200"
                  @click="toggleHeading({ level: 4 })"
                  :class="{ 'bg-gray-300' : isActive('heading', { level: 4 }, updatedAt) }"
                >
                  Heading 4
                </li>
                <li
                  class="h5-ref p-1 cursor-pointer hover:bg-gray-200"
                  @click="toggleHeading({ level: 5 })"
                  :class="{ 'bg-gray-300' : isActive('heading', { level: 5 }, updatedAt) }"
                >
                  Heading 5
                </li>
                <li
                  class="mb-0 h6-ref p-1 cursor-pointer hover:bg-gray-200"
                  @click="toggleHeading({ level: 6 })"
                  :class="{ 'bg-gray-300' : isActive('heading', { level: 6 }, updatedAt) }"
                >
                  Heading 6
                </li>
              </ul>

              <button
                type="button"
                class="hover:bg-gray-300 px-3 py-1 rounded"
                @click="toggleBold()"
                :class="{ 'bg-gray-300' : isActive('bold', updatedAt) }"
                title="Toggle bold text"
              >
                <i class="fas fa-bold"></i>
              </button>
              <button
                type="button"
                class="hover:bg-gray-300 px-3 py-1 rounded"
                @click="toggleItalic()"
                :class="{ 'bg-gray-300' : isActive('italic', updatedAt) }"
                title="Toggle italic text"
              >
                <i class="fas fa-italic"></i>
              </button>
              <button
                type="button"
                class="hover:bg-gray-300 px-3 py-1 rounded"
                @click="toggleCode()"
                :class="{ 'bg-gray-300' : isActive('code', updatedAt) }"
                title="Toggle inline code"
              >
                <i class="fas fa-code"></i>
              </button>
              <button
                type="button"
                class="hover:bg-gray-300 px-3 py-1 rounded"
                @click="toggleCodeBlock()"
                :class="{ 'bg-gray-300' : isActive('codeBlock', updatedAt) }"
                title="Toggle code block"
              >
                <i class="fas fa-file-code"></i>
              </button>
              <button
                type="button"
                class="hover:bg-gray-300 px-3 py-1 rounded"
                @click="setLink(prompt('Enter URL:'))"
                title="Add a link"
              >
                <i class="fas fa-link"></i>
              </button>
              <div class="border-r border-gray-400 py-1 mx-2 h-6 inline-block"></div>
              <button
                type="button"
                class="hover:bg-gray-300 px-3 py-1 rounded"
                @click="setTextAlign('left')"
                title="Align text left"
              >
                <i class="fas fa-align-left"></i>
              </button>
              <button
                type="button"
                class="hover:bg-gray-300 px-3 py-1 rounded"
                @click="setTextAlign('center')"
                title="Align text center"
              >
                <i class="fas fa-align-center"></i>
              </button>
              <button
                type="button"
                class="hover:bg-gray-300 px-3 py-1 rounded"
                @click="setTextAlign('right')"
                title="Align text right"
              >
                <i class="fas fa-align-right"></i>
              </button>
              <button
                type="button"
                class="hover:bg-gray-300 px-3 py-1 rounded"
                @click="setTextAlign('justify')"
                title="Justify text"
              >
                <i class="fas fa-align-justify"></i>
              </button>
            </div>
          </template>
          <input type="hidden" id="editorContent" name="content" />
          <div x-ref="element" class="min-h-80 editor" id="content"></div>
        </div>
      </div>

      <div class="text-center">
        <button
          type="submit"
          class="text-white py-2 px-4 rounded bg-opacity-80 bg-teal-600 hover:bg-teal-600 focus:ring-teal-700 focus:outline-none focus:ring-2"
        >
          Submit Post
        </button>
      </div>
    </form>
  </div>
</section>
