<title></title>

<section id="blogs" class="bg-white/70">
  <div class="container max-w-screen-lg mx-auto pt-10">
    <div class="max-w-screen-md mx-auto"></div>
    <div class="mx-auto max-w-screen-sm text-center lg:mb-10 mb-8">
      <h2 class="mb-4 text-3xl lg:text-4xl tracking-tight font-extrabold text-gray-900"></h2>
      <p class="font-light text-gray-500 sm:text-xl px-1">
        This is a fully functional blog where registered users can create, edit and delete their posts. It also includes a WYSIWYG
        editor for the post content.
      </p>
      <div class="mt-6">
        <a href="" class="inline-block bg-teal-600 text-white py-2 px-4 rounded hover:bg-teal-700 transition-colors"> </a>
      </div>
    </div>
    <div class="grid grid-cols-1 gap-8 max-w-screen-md mx-auto">
      <article class="p-2">
        <div class="flex justify-between items-center mb-5 text-gray-500">
          <span class="text-sm"></span>
        </div>
        <h2 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 break-words">
          <a hx-swap="show:body:top" href=""></a>
        </h2>
        <p class="mb-5 font-light text-gray-600 break-words"></p>
        <div class="flex justify-between items-center">
          <div class="flex items-center space-x-4">
            <i class="fa-solid fa-circle-user fa-xl text-gray-500"></i>
            <span class="font-medium"></span>
          </div>
        </div>
      </article>

      <div class="mb-8"></div>
    </div>
  </div>
</section>
