{% load static %}
{% load i18n %}
{% load paginate_range %}
{% if is_paginated %}
  <nav aria-label="Page navigation">
    <ul class="list-style-none flex justify-center">
      <li class="hidden md:block relative"
          x-data="{ lgPaginationMenu : false }">
        <a :class="{ 'bg-neutral-300': lgPaginationMenu }"
           @click.prevent="lgPaginationMenu = !lgPaginationMenu"
           x-ref="lgPaginationMenu"
           href="#"
           class="relative block rounded bg-transparent mx-px pl-2 pr-6 py-1.5 text-sm text-neutral-600 transition-all duration-300 hover:bg-neutral-300">
          {% trans "Page" %} {{ page_obj.number }} {% trans "of" %} {{ page_obj.paginator.num_pages }} <i class="absolute top-[7px] right-2 fa-solid fa-sort-down"></i>
        </a>
        <!-- Desktop dropdown -->
        <form x-show="lgPaginationMenu"
              @click.away="lgPaginationMenu = false"
              class=" mt-2 p-2 w-max border border-gray-300 bg-white shadow-lg rounded-md flex justify-center items-center z-40"
              tabindex="0"
              style="display: none"
              x-anchor="$refs.lgPaginationMenu"
              hx-swap="show:top"
              method="get"
              action="{{ request.path }}">
          <label for="page-input"
                 class="text-center pr-2 text-sm font-medium text-gray-700 text-nowrap">
            {% trans "Jump to page" %}:
          </label>
          <input id="page-input"
                 name="page"
                 type="number"
                 min="1"
                 max="{{ page_obj.paginator.num_pages }}"
                 placeholder=""
                 class="text-sm relative border-gray-300 border rounded-l-md placeholder-gray-400 focus:border-teal-500 focus:outline-none p-1.5 w-16" />
          <div class="text-sm p-1.5 text-gray-500 bg-gray-200 rounded-r-md text-nowrap border-gray-300 border-y border-r">
            / {{ page_obj.paginator.num_pages }}
          </div>
          <button type="submit"
                  class="ml-2 inline-flex justify-center p-1.5 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-teal-700 hover:bg-teal-800 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 text-nowrap">
            {% trans "Go" %}
          </button>
        </form>
      </li>
      {% if page_obj.has_previous %}
        <li>
          <a href="?page=1"
             hx-swap="show:top"
             class="block rounded bg-transparent mx-px px-3 py-1.5 text-sm text-neutral-600 transition-all duration-300 hover:bg-neutral-300">
            <i class="fa-solid fa-caret-left inline md:hidden"></i><i class="fa-solid fa-caret-left inline md:hidden"></i>
            <span class="hidden md:block">{% trans "First" %}</span>
          </a>
        </li>
        <li>
          <a href="?page={{ page_obj.previous_page_number }}"
             hx-swap="show:top"
             class="block rounded bg-transparent mx-px px-3 py-1.5 text-sm text-neutral-600 transition-all duration-300 hover:bg-neutral-300">{% trans "Prev" %}</a>
        </li>
      {% endif %}
      <!-- Hide individual page numbers on small screens -->
      {% with paginate_range|default:2 as range %}
        {% for num in page_obj|paginate_range:range %}
          <li class="hidden md:block"
              {% if page_obj.number == num %}aria-current="page"{% endif %}>
            <a hx-swap="show:top"
               class="relative block rounded  {% if page_obj.number == num %}bg-gray-300 {% else %}hover:bg-neutral-300 {% endif %} mx-px px-3 py-1.5 text-sm text-neutral-600 transition-all duration-300 "
               {% if page_obj.number != num %}href="?page={{ num }}"{% endif %}>{{ num }}</a>
          </li>
        {% endfor %}
      {% endwith %}
      <!-- Display "Page 4 of 50" on small screens -->
      <li class="md:hidden relative"
          x-data="{ smPaginationMenu : false }"
          :class="{ 'block ': smPaginationMenu, 'md:hidden ': !smPaginationMenu}">
        <a @click.prevent="smPaginationMenu = !smPaginationMenu"
           href="#"
           x-ref="smPaginationMenu"
           :class="{  'md:hidden bg-neutral-300': smPaginationMenu }"
           class="relative block rounded bg-transparent bg-gray-300 mx-px pl-3 pr-6 py-1.5 text-sm text-neutral-600 hover:bg-neutral-300 transition-all duration-300">{% trans "Page" %} {{ page_obj.number }} {% trans "of" %} {{ page_obj.paginator.num_pages }} <i class="absolute top-[7px] right-2 fa-solid fa-sort-down"></i></a>
        <!-- Mobile dropdown -->
        <form x-show="smPaginationMenu"
              x-anchor="$refs.smPaginationMenu"
              @click.away="smPaginationMenu = false"
              class="absolute mt-2 p-2 w-max border border-gray-300 bg-white shadow-lg rounded-md flex justify-center items-center"
              tabindex="0"
              style="display: none"
              method="get"
              hx-swap="show:body:top"
              action="{{ request.path }}">
          <label for="page-input"
                 class="text-center pr-2 text-sm font-medium text-gray-700 text-nowrap">
            {% trans "Jump to page" %}:
          </label>
          <input id="page-input"
                 name="page"
                 type="number"
                 min="1"
                 max="{{ page_obj.paginator.num_pages }}"
                 placeholder=""
                 class="text-sm relative border-gray-300 border rounded-l-md placeholder-gray-400 focus:border-teal-500 focus:outline-none p-1.5 w-16" />
          <div class="text-sm p-1.5 text-gray-500 bg-gray-200 rounded-r-md text-nowrap border-gray-300 border-y border-r">
            / {{ page_obj.paginator.num_pages }}
          </div>
          <button type="submit"
                  class="ml-2 inline-flex justify-center p-1.5 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-teal-700 hover:bg-teal-800 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 text-nowrap">
            {% trans "Go" %}
          </button>
        </form>
      </li>
      {% if page_obj.has_next %}
        <li>
          <a hx-swap="show:top"
             class="block rounded bg-transparent mx-px px-3 py-1.5 text-sm text-neutral-600 transition-all duration-300 hover:bg-neutral-300"
             href="?page={{ page_obj.next_page_number }}">{% trans "Next" %}</a>
        </li>
        <li>
          <a hx-swap="show:top"
             href="?page={{ page_obj.paginator.num_pages }}"
             class="block rounded bg-transparent mx-px px-3 py-1.5 text-sm text-neutral-600 transition-all duration-300 hover:bg-neutral-300">
            <span class="hidden md:block">{% trans "Last" %}</span>
            <i class="fa-solid fa-caret-right visible md:hidden"></i><i class="fa-solid fa-caret-right visible md:hidden"></i>
          </a>
        </li>
      {% endif %}
    </ul>
  </nav>
{% endif %}
