{% load i18n %}
{% load static %}
{% if is_htmx_request %}
  <title>{{ title }}</title>
  {% include "core/partials/core_partials.html" %}
{% endif %}
<section id="password-reset-invalid-link-page" class="">
  <div class="container max-w-screen-lg mx-auto py-10 min-h-[86.4vh] flex items-center justify-center text-center mx-2">
    <div class="bg-white/75 shadow-xl rounded-lg p-8 md:p-12 lg:p-16 mx-2">
      <h2 class="text-6xl font-bold text-red-500 mb-4">✗</h2>
      <p class="text-2xl font-semibold text-gray-800 mb-5">{% trans 'Invalid Reset Link' %}</p>
      <p class="text-gray-600 mb-6">
        {% trans 'The password reset link you have clicked is either invalid or expired. Please request a new password reset link.' %}
      </p>
      <a href="{% url 'users:password_reset' %}"
         class="inline-block bg-teal-600 text-white font-bold py-2 px-4 rounded hover:bg-teal-800 transition-colors">{% trans 'Request New Link' %}</a>
    </div>
  </div>
</section>
