{% load i18n %}
{% load static %}
{% if is_htmx_request %}
  <title>{{ title }}</title>
  {% include "core/partials/core_partials.html" %}
{% endif %}
<section id="password-reset-email-sent-page" class="">
  <div class="container max-w-screen-lg mx-auto py-10 min-h-[86.4vh] flex items-center justify-center text-center mx-2">
    <div class="bg-white/75 shadow-xl rounded-lg p-8 md:p-12 lg:p-16 mx-2">
      <h2 class="text-4xl font-bold text-gray-800 mb-4">{% trans 'Check Your Email' %}</h2>
      <p class="text-xl font-semibold text-gray-800 mb-5">
        {% trans 'We’ve sent a password reset email to the address you provided.' %}
      </p>
      <p class="text-gray-600 mb-6">
        {% blocktrans %}We have sent you an email. If you have not received it, please check your spam folder. Otherwise, contact us if you do not receive it within a few minutes.{% endblocktrans %}
      </p>
      <a href="{% url 'users:password_reset' %}"
         class="inline-block bg-gray-500 text-white py-2 px-4 rounded hover:bg-gray-700 transition-colors">{% trans 'Request Another Email' %}</a>
      <div class="mt-6">
        <a href="{% url 'users:login' %}" class="text-blue-500 hover:underline">{% trans 'Back to Login' %}</a>
      </div>
    </div>
  </div>
</section>
