{% load i18n %}
{% load static %}
{% if is_htmx_request %}
  <title>{{ title }}</title>
  {% include "users/partials/user_status.html" %}
{% endif %}
<section class="flex-1">
  <div class="container max-w-screen-lg mx-auto py-10 flex-1">
    <div class="mx-auto max-w-screen-sm text-center lg:mb-16 mb-8">
      <h2 class="mb-4 text-3xl lg:text-4xl tracking-tight font-extrabold text-gray-900">{% trans 'About' %}</h2>
      <div class="font-light text-gray-700 sm:text-base text-left mx-2">
        <p class=" mb-4">Deleted</p>
      </div>
    </div>
  </div>
</section>
