{% load static %}
{% load i18n %}
<a href="{{ APPDATA.LINKEDIN_URL }}"
   target="_blank"
   class="text-gray-600 text-lg hover:text-teal-600 hover:scale-125 transition duration-300">
    <i class="fab fa-linkedin fa-lg"></i>
</a>
<a href="mailto:{{ APPDATA.FEROZ_EMAIL }}"
   class="text-gray-600 text-lg hover:text-teal-600 hover:scale-125 transition duration-300">
    <i class="fas fa-envelope fa-lg"></i>
</a>
<a href="{{ APPDATA.FEROZ_RESUME_URL }}" target="_blank" hx-boost="false" class="text-gray-600 text-lg hover:text-teal-600 hover:scale-125 transition duration-300">
    <i class="fas fa-file-alt fa-lg"></i>
</a>
<a href="{{ APPDATA.GIT_URL }}"
   target="_blank"
   class="text-gray-600 text-lg hover:text-teal-600 hover:scale-125 transition duration-300">
    <i class="fab fa-github fa-lg"></i>
</a>
