{% load static %}
{% load i18n %}
{% load cache %}
{% get_current_language as LANGUAGE_CODE %}
{% if is_htmx_request %}
  <title>{{ title }}</title>
  {% include "core/partials/core_partials.html" %}
{% endif %}

<section id="projects" class="bg-white/70">
  <div class="container max-w-screen-lg mx-auto py-10">
    <h2 class="text-3xl font-bold text-center text-gray-800 mb-8">{% trans 'My Projects' %}</h2>
    <div class="columns-1 md:columns-2 gap-8 mx-3">
      <!-- Project 1: Django -->
      <div class="bg-white/80 rounded-lg border border-gray-300 shadow-md h-auto overflow-auto">
        <img src="{% static 'img/sites/ferozfaiz.com.png' %}"
             alt="Django Project Thumbnail"
             class="rounded-t-lg" />
        <div class="p-5">
          <h3 class="text-xl font-bold text-gray-700">{% trans "DJANGO FEROZFAIZ.COM" %}</h3>
          <p class="text-gray-600 mt-4">
            {% blocktrans %}
            I developed ferozfaiz.com using Django, focusing on a fully server-side rendered architecture. 
            To enhance interactivity and reactivity, I integrated HTMX and AlpineJS. 
            Additionally, I implemented OAuth 2.0 authentication, supporting both Google and Microsoft. 
            I used RabbitMQ/Celery to send emails. Kakfa was used to ship logs to ElasticSearch/Grafana. 
            I also used Hashicorp Vault to store secrets. The application is deployed on Kubernetes.
            {% endblocktrans %}
          </p>
          <p class="text-sm bg-teal-100 text-teal-700 font-semibold px-3 py-1 rounded-md mt-4 inline-block">
            <span class="bg-clip-text text-transparent bg-gradient-to-r from-blue-600 to-purple-500 bold">{% trans 'Tech Stack' %}</span>
            :&nbsp; {% blocktrans %} Django, PostgreSQL, Redis, Rabbitmq/Celery, Kafka, ElasticSearch, TailwindCSS, HTMX, AlpineJS, Docker, Kubernetes,
            ViteJS, Tiptap, Hashicorp Vault, Google & Microsoft OAuth 2.0, Amazon SES, AWS ECR{% endblocktrans %}
          </p>
          <div class="flex justify-center items-center mt-6 space-x-4">
            <a href="{{ APPDATA.DJANGO_BLOG_GIT_URL }}"
               target="_blank"
               class="text-gray-600 hover:text-black flex items-center"><i class="fab fa-github fa-lg mr-2"></i>GitHub</a>
          </div>
        </div>
      </div>

      <!-- Project: Spring Boot API -->
      <div class="bg-white/80 rounded-lg border border-gray-300 shadow-md mt-8 h-auto overflow-auto">
        <div class="p-5">
          <h3 class="text-xl font-bold text-gray-700">SPRING BOOT API</h3>
          <p class="text-gray-600 mt-4">
            I developed this Spring Boot API for a Next.js application under development. It leverages PostgreSQL, secures endpoints with OpenID Connect, and uses Hashicorp Vault for secret management—all deployed on a self-managed Kubernetes cluster.
          </p>
          <p class="text-sm bg-teal-100 text-teal-700 font-semibold px-3 py-1 rounded-md mt-4 inline-block">
            <span class="bg-clip-text text-transparent bg-gradient-to-r from-blue-600 to-purple-500 bold">Tech Stack</span>: Spring Boot, PostgreSQL, OpenID Connect, Hashicorp Vault, Kubernetes
          </p>
          <div class="flex justify-center items-center mt-6 space-x-4">
            <a href="https://spring-boot-api.ferozfaiz.com/swagger-ui.html"
               target="_blank"
               class="text-teal-500 hover:text-teal-700 flex items-center"><i class="fas fa-eye fa-lg mr-2"></i>{% trans 'View Demo' %}</a>
            <a href="https://github.com/nartix/spring-boot-api"
               target="_blank"
               class="text-gray-600 hover:text-black flex items-center"><i class="fab fa-github fa-lg mr-2"></i>GitHub</a>
          </div>
        </div>
      </div>

      <!-- Project 1: ReactJS -->
      <div class="bg-white/80 rounded-lg border border-gray-300 shadow-md mt-8 h-auto overflow-auto">
        <img src="{% static 'img/sites/reactjs.ferozfaiz.com_4.png' %}"
             alt="ReactJS Project Thumbnail"
             class="rounded-t-lg" />
        <div class="p-5">
          <h3 class="text-xl font-bold text-gray-700">{% trans 'REACTJS CRUD APP' %}</h3>
          <p class="text-gray-600 mt-4">
            {% blocktrans %}This ReactJS project is a web application that allows users to create, read, update, delete, sort, and
            search data. I used ExpressJS to create the API. To deploy the application and the API, I used Kubernetes.
            {% endblocktrans %}
          </p>
          <p class="text-sm bg-teal-100 text-teal-700 font-semibold px-3 py-1 rounded-md mt-4 inline-block">
            <span class="bg-clip-text text-transparent bg-gradient-to-r from-blue-600 to-purple-500 bold">{% trans 'Tech Stack' %}</span>
            :&nbsp;{% trans 'ReactJS, ExpressJS, PostgreSQL, Bootstrap, SASS, Docker, Kubernetes' %}
          </p>
          <div class="flex justify-center items-center mt-6 space-x-4">
            <a href="{{ APPDATA.REACTJS_URL }}"
               target="_blank"
               class="text-teal-500 hover:text-teal-700 flex items-center"><i class="fas fa-eye fa-lg mr-2"></i>{% trans 'View Demo' %}</a>
            <a href="{{ APPDATA.REACTJS_GIT_URL }}"
               target="_blank"
               class="text-gray-600 hover:text-black flex items-center"><i class="fab fa-github fa-lg mr-2"></i>GitHub</a>
          </div>
        </div>
      </div>
      <!-- Project : Angular -->
      <div class="bg-white/80 rounded-lg border border-gray-300 border border-gray-300 shadow-md mt-8 h-auto overflow-auto">
        <img src="{% static 'img/sites/ferozfaiz.com_4.png' %}"
             alt="Angular Project Thumbnail"
             class="rounded-t-lg border-b border-gray-300" />
        <div class="p-5">
          <h3 class="text-xl font-bold text-gray-700">{% trans 'ANGULAR CRUD APP' %}</h3>
          <p class="text-gray-600 mt-4">
            {% blocktrans %} This Angular project is a web application that allows users to perform the same CRUD operations as            the ReactJS app. I used the same ExpressJS API as the backend. Consequently, I used the same Kubernetes             configuration.{% endblocktrans %}
          </p>
          <p class="text-sm bg-teal-100 text-teal-700 font-semibold px-3 py-1 rounded-md mt-4 inline-block">
            <span class="bg-clip-text text-transparent bg-gradient-to-r from-blue-600 to-purple-500 bold">{% trans 'Tech Stack' %}</span>
            :&nbsp;{% trans "Angular, ExpressJS, PostgreSQL, Bootstrap, SASS, Docker, Kubernetes" %}
          </p>
          <div class="flex justify-center items-center mt-6 space-x-4">
            <a href="{{ APPDATA.ANGULAR_URL }}"
               target="_blank"
               class="text-teal-500 hover:text-teal-700 flex items-center"><i class="fas fa-eye fa-lg mr-2"></i>{% trans 'View Demo' %}</a>
            <a href="{{ APPDATA.ANGULAR_GIT_URL }}"
               target="_blank"
               class="text-gray-600 hover:text-black flex items-center"><i class="fab fa-github fa-lg mr-2"></i>GitHub</a>
          </div>
        </div>
      </div>
      <!-- Project : Tittap extension -->
      <div class="bg-white/80 rounded-lg border border-gray-300 shadow-md mt-8 h-auto overflow-auto">
        <img src="{% static 'img/sites/tiptap-inline-code-highlight.png' %}"
             alt="Angular Project Thumbnail"
             class="rounded-t-lg border-b border-gray-300" />
        <img src="https://img.shields.io/npm/dm/@nartix/tiptap-inline-code-highlight.svg"
             alt="NPM Downloads"
             class="rounded-md ml-5 mt-1" />
        <div class="p-5">
          <h3 class="text-xl font-bold text-gray-700">{% trans 'Tiptap Inline Code Highlight Extension' %}</h3>
          <p class="text-gray-600 mt-4">
            {% blocktrans %}
            I developed a Prosemirror extension for Tiptap, a WYSIWYG editor. The extension allows users to highlight inline code snippets within the editor. It uses Lowlight/HighlightJS to highlight codes.
            {% endblocktrans %}
          </p>
          <p class="text-sm bg-teal-100 text-teal-700 font-semibold px-3 py-1 rounded-md mt-4 inline-block">
            <span class="bg-clip-text text-transparent bg-gradient-to-r from-blue-600 to-purple-500 bold">{% trans 'Tech Stack' %}</span>
            :&nbsp;Prosemirror, Tiptap, Lowlight/HighlightJS
          </p>
          <div class="flex justify-center items-center mt-6 space-x-4">
            <a href="{{ APPDATA.TIPTAP_INLINE_CODE_HIGHLIGHT_URL }}"
               target="_blank"
               class="text-teal-500 hover:text-teal-700 flex items-center"><i class="fab fa-npm fa-lg mr-2"></i>{% trans 'NPM' %}</a>
            <a href="{{ APPDATA.TIPTAP_INLINE_CODE_HIGHLIGHT_GIT_URL }}"
               target="_blank"
               class="text-gray-600 hover:text-black flex items-center"><i class="fab fa-github fa-lg mr-2"></i>GitHub</a>
          </div>
        </div>
      </div>
      <!-- Project : ExpressJS -->
      <div class="bg-white/80 rounded-lg border border-gray-300 shadow-md mt-8 h-auto overflow-auto">
        <img src="{% static 'img/sites/expressjs.ferozfaiz.com_1.png' %}"
             alt="ExpressJS Project Thumbnail"
             class="rounded-t-lg border-b border-gray-300" />
        <div class="p-5">
          <h3 class="text-xl font-bold text-gray-700">{% trans 'EXPRESSJS API' %}</h3>
          <p class="text-gray-600 mt-4">
            {% blocktrans %}This ExpressJS project is an API that ReactJS and Angular use to enable users to perform CRUD
            operations. I used PostgreSQL as the database.{% endblocktrans %}
          </p>
          <p class="text-sm bg-teal-100 text-teal-700 font-semibold px-3 py-1 rounded-md mt-4 inline-block">
            <span class="bg-clip-text text-transparent bg-gradient-to-r from-blue-600 to-purple-500 bold">{% trans 'Tech Stack' %}</span>
            :&nbsp;{% trans 'ExpressJS, PostgreSQL, Docker, Kubernetes' %}
          </p>
          <div class="flex justify-center items-center mt-6 space-x-4">
            <a href="{{ APPDATA.EXPRESSJS_URL }}"
               target="_blank"
               class="text-teal-500 hover:text-teal-700 flex items-center"><i class="fas fa-eye fa-lg mr-2"></i>{% trans 'View Demo' %}</a>
            <a href="{{ APPDATA.EXPRESSJS_GIT_URL }}"
               target="_blank"
               class="text-gray-600 hover:text-black flex items-center"><i class="fab fa-github fa-lg mr-2"></i>GitHub</a>
          </div>
        </div>
      </div>

      <!-- Project: Next CSRF -->
      <div class="bg-white/80 rounded-lg border border-gray-300 shadow-md mt-8 h-auto overflow-auto">
        <div class="p-5">
          <h3 class="text-xl font-bold text-gray-700">NEXT CSRF</h3>
          <p class="text-gray-600 mt-4">
            A lightweight CSRF protection middleware for Next.js on the Edge Runtime. It secures write methods (POST, PUT, PATCH, DELETE) by double-checking the CSRF token from the request against the token stored in a cookie.
          </p>
          <p class="text-sm bg-teal-100 text-teal-700 font-semibold px-3 py-1 rounded-md mt-4 inline-block">
            <span class="bg-clip-text text-transparent bg-gradient-to-r from-blue-600 to-purple-500 bold">Tech Stack</span>: Next.js, Edge Runtime
          </p>
          <div class="flex justify-center items-center mt-6 space-x-4">
            <a href="https://www.npmjs.com/package/@nartix/next-csrf" target="_blank" class="text-teal-500 hover:text-teal-700 flex items-center">
              <i class="fab fa-npm fa-lg mr-2"></i>NPM
            </a>
            <a href="https://github.com/nartix/next-csrf"
            target="_blank"
            class="text-gray-600 hover:text-black flex items-center"><i class="fab fa-github fa-lg mr-2"></i>GitHub</a>
          </div>
        </div>
      </div>

      <!-- Project : Django Rest Framework -->
      <div class="bg-white/80 rounded-lg border border-gray-300 shadow-md mt-8 h-auto overflow-auto">
        <img src="{% static 'img/sites/django.ferozfaiz.com_3.png' %}"
             alt="Django Project Thumbnail"
             class="border-b border-gray-300 rounded-t-lg" />
        <div class="p-5">
          <h3 class="text-xl font-bold text-gray-700">{% trans 'DJANGO REST FRAMEWORK API' %}</h3>
          <p class="text-gray-600 mt-4">
            {% blocktrans %}
            This Django Rest Framework project mirrors the functionalities of the ExpressJS API.
            {% endblocktrans %}
          </p>
          <p class="text-sm bg-teal-100 text-teal-700 font-semibold px-3 py-1 rounded-md mt-4 inline-block">
            <span class="bg-clip-text text-transparent bg-gradient-to-r from-blue-600 to-purple-500 bold">{% trans 'Tech Stack' %}</span>
            :&nbsp;{% trans 'Django Rest Framework, PostgreSQL, Docker, Kubernetes' %}
          </p>
          <div class="flex justify-center items-center mt-6 space-x-4">
            <a href="{{ APPDATA.DJANGO_REST_FRAMEWORK_URL }}"
               target="_blank"
               class="text-teal-500 hover:text-teal-700 flex items-center"><i class="fas fa-eye fa-lg mr-2"></i>{% trans 'View Demo' %}</a>
            <a href="{{ APPDATA.DJANGO_REST_FRAMEWORK_GIT_URL }}"
               target="_blank"
               class="text-gray-600 hover:text-black flex items-center"><i class="fab fa-github fa-lg mr-2"></i>GitHub</a>
          </div>
        </div>
      </div>

      <!-- Project : Ansible Playbook -->
      <div class="bg-white/80 rounded-lg border border-gray-300 shadow-md mt-8 h-auto overflow-auto">
        <img src="{% static 'img/sites/ansible.png' %}"
             alt="Ansible Project Thumbnail"
             class="rounded-t-lg" />
        <div class="p-5">
          <h3 class="text-xl font-bold text-gray-700">ANSIBLE PLAYBOOK</h3>
          <p class="text-gray-600 mt-4">
            {% blocktrans %}
            I automated the deployment of a Kubernetes cluster using Ansible. I used RKE2 to create the Kubernetes
            cluster.
            {% endblocktrans %}
          </p>
          <p class="text-sm bg-teal-100 text-teal-700 font-semibold px-3 py-1 rounded-md mt-4 inline-block">
            <span class="bg-clip-text text-transparent bg-gradient-to-r from-blue-600 to-purple-500 bold">{% trans 'Tech Stack' %}</span>
            :&nbsp;{% trans 'Ansible, RKE2, Kubernetes, Shell' %}
          </p>
          <div class="flex justify-center items-center mt-6 space-x-4">
            <a href="{{ APPDATA.ANSIBLE_GIT_URL }}"
               target="_blank"
               class="text-gray-600 hover:text-black flex items-center"><i class="fab fa-github fa-lg mr-2"></i>GitHub</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

