<title></title>

<section data-new-title="test title" id="projects" class="bg-white/70 flex flex-col flex-1" data-update-status="true">
  <div class="container mx-auto py-10">
    <div class="max-w-screen-lg mx-auto">
      <div class="bg-white shadow overflow-hidden sm:rounded-lg">
        <div class="px-4 py-5 sm:px-6 flex justify-between items-center">
          <h3 class="text-lg leading-6 font-medium text-gray-900">: <span class="text-indigo-600"></span></h3>
          <a
            href=""
            class="bg-opacity-80 bg-teal-600 hover:bg-teal-600 focus:ring-teal-500 text-white font-bold py-2 px-4 rounded no-underline inline-block"
          >
          </a>
        </div>
        <div class="border-t border-gray-200">
          <dl>
            <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
              <dt class="text-sm font-medium text-gray-500"></dt>
              <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2"></dd>
            </div>
            <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
              <dt class="text-sm font-medium text-gray-500"></dt>
              <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2"></dd>
            </div>
            <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
              <dt class="text-sm font-medium text-gray-500"></dt>
              <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2"></dd>
            </div>
            <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
              <dt class="text-sm font-medium text-gray-500"></dt>
              <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2"></dd>
            </div>
            <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
              <dt class="text-sm font-medium text-gray-500 self-center col-start-1"></dt>
              <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                <ul class="border border-gray-200 rounded-md divide-y divide-gray-200">
                  <li class="pl-3 pr-4 py-3 flex items-center justify-between text-sm">
                    <div class="w-0 flex-1 flex items-center">
                      <i class="fas fa-key mx-2"></i>
                      <span class="ml-2 flex-1 w-0 truncate">Password</span>
                      <span class="ml-2 text-sm text-gray-500">Setup</span>
                    </div>
                    <div class="ml-4 flex-shrink-0">
                      Linked

                      <a href="" class="font-medium text-teal-500 hover:text-teal-700">Setup</a>
                    </div>
                  </li>
                  <li class="pl-3 pr-4 py-3 flex items-center justify-between text-sm">
                    <div class="w-0 flex-1 flex items-center">
                      <i class="fab fa-google mx-2"></i>
                      <span class="ml-2 flex-1 w-0 truncate">Google</span>
                      <span class="ml-2 text-sm text-gray-500"></span>
                    </div>
                    <div class="ml-4 flex-shrink-0">
                      Linked

                      <a href="" hx-boost="false" class="font-medium text-teal-500 hover:text-teal-700">Link</a>
                    </div>
                  </li>
                  <li class="pl-3 pr-4 py-3 flex items-center justify-between text-sm">
                    <div class="w-0 flex-1 flex items-center">
                      <i class="fab fa-microsoft mx-2"></i>
                      <span class="ml-2 flex-1 w-0 truncate">Microsoft</span>
                      <span class="ml-2 text-sm text-gray-500"></span>
                    </div>
                    <div class="ml-4 flex-shrink-0">
                      Linked

                      <a href="" hx-boost="false" class="font-medium text-teal-500 hover:text-teal-700">Link</a>
                    </div>
                  </li>
                </ul>
              </dd>
            </div>
            <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
              <dt class="text-sm font-medium text-gray-500 self-center col-start-1"></dt>
              <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                <ul class="border border-gray-200 rounded-md divide-y divide-gray-200">
                  <li class="pl-3 pr-4 py-3 flex items-center justify-between text-sm">
                    <div class="w-0 flex-1 flex items-center">
                      <span class="ml-2 flex-1 w-0 truncate"></span>
                    </div>
                    <div class="ml-4 flex-shrink-0">
                      <a href="?next=" class="font-medium text-teal-500 hover:text-teal-700"></a>
                    </div>
                  </li>

                  <li class="pl-3 pr-4 py-3 flex items-center justify-between text-sm">
                    <div class="w-0 flex-1 flex items-center">
                      <span class="ml-2 flex-1 w-0 truncate"></span>
                    </div>
                    <div class="ml-4 flex-shrink-0">
                      <a href="" class="font-medium text-teal-500 hover:text-teal-700">Edit</a>
                    </div>
                  </li>
                </ul>
              </dd>
            </div>
          </dl>
        </div>
      </div>
    </div>
  </div>
</section>
