{% load i18n %}
{% load static %}
{% if is_htmx_request %}
    <title>{{ title }}</title>
    {% include "users/partials/user_status.html" %}
{% endif %}
<section data-new-title="test title"
         id="projects"
         class="bg-white/70 flex flex-col flex-1"
         data-update-status="true">
    <div class="container mx-auto py-10">
        {% include "core/messages/messages.html" %}
        <div class="max-w-screen-lg mx-auto">
            <div class="bg-white shadow overflow-hidden sm:rounded-lg">
                <div class="px-4 py-5 sm:px-6 flex justify-between items-center">
                    <h3 class="text-lg leading-6 font-medium text-gray-900">
                        {% trans "Username" %}: <span class="text-indigo-600">{{ user.username }}</span>
                    </h3>
                    <a href="{% url 'users:profile_edit' %}"
                       class="bg-opacity-80 bg-teal-600 hover:bg-teal-600 focus:ring-teal-500 text-white font-bold py-2 px-4 rounded no-underline inline-block">
                        {% trans "Edit Profile" %}
                    </a>
                </div>
                <div class="border-t border-gray-200">
                    <dl>
                        <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                            <dt class="text-sm font-medium text-gray-500">{% trans "Email" %}</dt>
                            <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                                {{ user.email }}
                            </dd>
                        </div>
                        <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                            <dt class="text-sm font-medium text-gray-500">{% trans "First Name" %}</dt>
                            <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                                {{ user.first_name }}
                            </dd>
                        </div>
                        <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                            <dt class="text-sm font-medium text-gray-500">{% trans "Last Name" %}</dt>
                            <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                                {{ user.last_name }}
                            </dd>
                        </div>
                        <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                            <dt class="text-sm font-medium text-gray-500">{% trans "Bio" %}</dt>
                            <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                                {{ user.bio }}
                            </dd>
                        </div>
                        <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                            <dt class="text-sm font-medium text-gray-500 self-center col-start-1">{% trans "Login Methods" %}</dt>
                            <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                                <ul class="border border-gray-200 rounded-md divide-y divide-gray-200">
                                    <li class="pl-3 pr-4 py-3 flex items-center justify-between text-sm">
                                        <div class="w-0 flex-1 flex items-center">
                                            <i class="fas fa-key mx-2"></i>
                                            <span class="ml-2 flex-1 w-0 truncate">Password</span>
                                            {% if user.password %}<span class="ml-2 text-sm text-gray-500">Setup</span>{% endif %}
                                        </div>
                                        <div class="ml-4 flex-shrink-0">
                                            {% if user.password %}
                                                Linked
                                            {% else %}
                                                <a href="{% url 'users:password_new' %}"
                                                   class="font-medium text-teal-500 hover:text-teal-700">Setup</a>
                                            {% endif %}
                                        </div>
                                    </li>
                                    <li class="pl-3 pr-4 py-3 flex items-center justify-between text-sm">
                                        <div class="w-0 flex-1 flex items-center">
                                            <i class="fab fa-google mx-2"></i>
                                            <span class="ml-2 flex-1 w-0 truncate">Google</span>
                                            {% if oauth_users.google %}<span class="ml-2 text-sm text-gray-500">{{ oauth_users.google }}</span>{% endif %}
                                        </div>
                                        <div class="ml-4 flex-shrink-0">
                                            {% if oauth_users.google %}
                                                Linked
                                            {% else %}
                                                <a href="{% url 'oauth:login_link_token' 'google' uid_token %}"
                                                   hx-boost="false"
                                                   class="font-medium text-teal-500 hover:text-teal-700">Link</a>
                                            {% endif %}
                                        </div>
                                    </li>
                                    <li class="pl-3 pr-4 py-3 flex items-center justify-between text-sm">
                                        <div class="w-0 flex-1 flex items-center">
                                            <i class="fab fa-microsoft mx-2"></i>
                                            <span class="ml-2 flex-1 w-0 truncate">Microsoft</span>
                                            {% if oauth_users.microsoft %}<span class="ml-2 text-sm text-gray-500">{{ oauth_users.microsoft }}</span>{% endif %}
                                        </div>
                                        <div class="ml-4 flex-shrink-0">
                                            {% if oauth_users.microsoft %}
                                                Linked
                                            {% else %}
                                                <a href="{% url 'oauth:login_link_token' 'microsoft' uid_token %}"
                                                   hx-boost="false"
                                                   class="font-medium text-teal-500 hover:text-teal-700">Link</a>
                                            {% endif %}
                                        </div>
                                    </li>
                                </ul>
                            </dd>
                        </div>
                        <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                            <dt class="text-sm font-medium text-gray-500 self-center col-start-1">{% trans "Settings" %}</dt>
                            <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                                <ul class="border border-gray-200 rounded-md divide-y divide-gray-200">
                                    {% if user.password %}
                                        <li class="pl-3 pr-4 py-3 flex items-center justify-between text-sm">
                                            <div class="w-0 flex-1 flex items-center">
                                                <span class="ml-2 flex-1 w-0 truncate">{% trans "Change Password" %}</span>
                                            </div>
                                            <div class="ml-4 flex-shrink-0">
                                                <a href="{% url 'users:password_change' %}?next={{ next }}"
                                                   class="font-medium text-teal-500 hover:text-teal-700">{% trans "Edit" %}</a>
                                            </div>
                                        </li>
                                    {% endif %}
                                    <li class="pl-3 pr-4 py-3 flex items-center justify-between text-sm">
                                        <div class="w-0 flex-1 flex items-center">
                                            <span class="ml-2 flex-1 w-0 truncate">{% trans "Change Email" %}</span>
                                        </div>
                                        <div class="ml-4 flex-shrink-0">
                                            <a href="{% url 'users:profile_edit_email' %}"
                                               class="font-medium text-teal-500 hover:text-teal-700">Edit</a>
                                        </div>
                                    </li>
                                </ul>
                            </dd>
                        </div>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</section>
