{% load i18n %}
{% load static %}
{% if is_htmx_request %}
  <title>{{ title }}</title>
  {% include "core/partials/core_partials.html" %}
{% endif %}
<!-- Login Section -->
<section class="container mx-auto max-w-md flex flex-row flex-grow items-center justify-center">
  <div class="mx-2 bg-white/75 rounded-lg shadow-md p-8 mt-10 mb-10 basis-full">
    <h2 class="text-2xl font-semibold text-center text-gray-700 mb-6">
      {% if form_title %}
        {{ form_title }}
      {% else %}
        {{ title }}
      {% endif %}
    </h2>
    {% if form_type == 'login' or form_type == 'signup' %}
      <div class="flex flex-col items-center ">
        <!-- Sign in with Google as a Button -->
        <div class="text-center mb-2">
          <a hx-boost="false"
             href="{% url 'oauth:oauth_login' 'google' %}{% if next %}?next={{ next }}{% endif %}"
             class="w-60 inline-block px-4 py-2 rounded border bg-white border-gray-300 hover:border-gray-400 text-gray-700 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-300 focus:ring-opacity-50">
            <i class="fab fa-google mr-2"></i>
            {% if form_type == 'signup' %}
              {% trans 'Sign up with Google' %}
            {% else %}
              {% trans 'Sign in with Google' %}
            {% endif %}
          </a>
        </div>
        <!-- Sign in with Microsoft as a Button -->
        <div class="text-center mb-2">
          <a hx-boost="false"
             href="{% url 'oauth:oauth_login' 'microsoft' %}{% if next %}?next={{ next }}{% endif %}"
             class="w-60 inline-block px-4 py-2 rounded border bg-white border-gray-300 hover:border-gray-400 text-gray-700 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-300 focus:ring-opacity-50">
            <i class="fab fa-microsoft mr-2"></i>
            {% if form_type == 'signup' %}
              {% trans 'Sign up with Microsoft' %}
            {% else %}
              {% trans 'Sign in with Microsoft' %}
            {% endif %}
          </a>
        </div>
      </div>
      <!-- Separator with 'Or' -->
      <div class="flex items-center justify-center my-4">
        <div class="flex-grow border-t border-gray-300"></div>
        <span class="flex-shrink mx-4 text-gray-400">{% trans 'OR' %}</span>
        <div class="flex-grow border-t border-gray-300"></div>
      </div>
    {% endif %}
    {% if messages %}
      {% for message in messages %}
        <div class=" px-4 py-2.5 rounded relative text-sm text-center {% if 'debug' in message.tags %} bg-gray-100 border border-gray-400 text-gray-700 {% elif 'info' in message.tags %} bg-blue-100 border border-blue-400 text-blue-700 {% elif 'success' in message.tags %} bg-green-100 border border-green-400 text-green-700 {% elif 'warning' in message.tags %} bg-orange-100 border border-orange-300 text-orange-500 {% elif 'error' in message.tags %} bg-red-100 border border-red-400 text-red-700 {% endif %} "
             role="alert">{{ message }}</div>
      {% endfor %}
    {% endif %}
    {% if form_message %}<p class="text-center text-gray-500 mb-6">{{ form_message }}</p>{% endif %}
    <form id="signup-form"
          action="{{ action_url }}"
          method="post"
          class="space-y-6">
      {% csrf_token %}
      {% if next %}<input type="hidden" name="next" value="{{ next }}">{% endif %}
      {% include "core/form/form_input_fields.html" %}
      {% if form_type == 'login' %}
        <div class="flex ">
          <!--<div class="flex items-center">
            <input type="checkbox" id="remember_me" name="remember_me" class="mr-2" />
            <label for="remember_me" class="text-xs sm:text-sm">{% trans 'Remember me' %}</label> 
          </div>-->
          <div class="ml-auto">
            <a href="{% url 'users:password_reset' %}"
               class="text-xs sm:text-sm text-teal-500 hover:text-teal-700">{% trans 'Forgot password?' %}</a>
          </div>
        </div>
      {% endif %}
      <div class="mt-4">
        <button type="submit"
                class="w-full py-2 rounded bg-opacity-80 bg-teal-600 hover:bg-teal-600 focus:ring-teal-500 focus:ring-opacity-50 text-white text-sm focus:outline-none focus:ring-2  ">
          {{ button_text }}
        </button>
      </div>
      {% if form_type == 'login' %}
        <div class="mt-6 text-center">
          <p class="text-sm">
            {% trans "Don't have an account?" %}
            <a href="{% url 'users:signup' %}"
               class="text-teal-500 hover:text-teal-700">{% trans 'Sign Up' %}</a>
          </p>
        </div>
      {% endif %}
    </form>
  </div>
</section>
